@import "abstract/variable";
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Baloo Bhaina 2", cursive;
    line-height: 1.2;
    overflow-x: hidden; //because animation

    background-color: black;
}

::selection {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

a:link,
a:visited {
    color: var(--text-color);
    text-decoration: none;
}

a:hover,
a:active {
    color: var(--color-secondary);
}

@import "abstract/mixin";
@import "abstract/animation";

@import "components/buttons";
@import "components/card";

@import "layout/navigation";
@import "layout/main";
@import "layout/home";
@import "layout/about";
@import "layout/skills";
@import "layout/work";
@import "layout/contact";
