.about {
    width: 100%;
    max-width: 1000px;

    padding: 4rem 1rem;

    background: url(../img/airplane-rotated.jpg);
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;

    @media (min-width: 960px) {
        padding: 4rem 1rem;
    }

    &__content {
        display: grid;
        gap: 0.5rem;
        justify-items: center;

        text-align: center;

        @media (min-width: 850px) {
            width: 75%;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, max-content);
            align-items: center;
            align-self: start;
        }

        &--header {
            font-size: 3rem;
            color: var(--color-yellow);
        }

        &--subheader {
            padding: 0.5rem;
            line-height: 1.5;
            color: var(--color-blue);
        }

        &--paragraph {
            font-size: 1.2rem;
            padding: 1rem 2rem;
            line-height: 1.5;
            letter-spacing: 0.1rem;
            @media (min-width: 850px) {
                grid-column: 1 / -1;
                grid-row: 3 / span 1;
            }
        }

        &--link {
            margin-top: 1rem;
            @media (min-width: 850px) {
                grid-column: 1 / -1;
                grid-row: 4 / span 1;
            }
        }

        &--image {
            margin: 1rem;
            width: 15rem;
            height: 15rem;
            border-radius: 50%;
            overflow: hidden;

            box-sizing: content-box;
            border: 0.5rem solid var(--color-yellow);
            transition: all 0.3s ease-in-out;

            z-index: 2;

            img {
                width: 100%;
                scale: 1.2;
                transform: translateY(-25%);

                @media (min-width: 850px) {
                    transform: translateY(0);
                }

                z-index: 1;
            }

            @media (min-width: 850px) {
                border-radius: 0;
                height: 20rem;
                grid-column: 1 / 2;
                grid-row: 1 / span 2;
            }
        }
    }
}
