.home {
    width: 100%;
    max-width: 1000px;
    padding: 1rem;

    color: var(--text-color);
    background: url(../img/airplane.jpg), #000;
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;

    @media (min-width: 960px) {
        padding: 1rem;
    }

    &__content {
        display: grid;
        gap: 0.5rem;

        @media (min-width: 850px) {
            width: 80%;
        }
    }

    &__header {
        &--h1 {
            text-align: center;
            font-size: 4rem;
            color: var(--color-secondary);
            animation: jittery 4s infinite;
        }
        &--h2 {
            text-align: center;
            opacity: 0.7;
            padding: 0.5rem;
        }
    }
    &__button {
        display: block;
        justify-self: center;
        margin: 1rem;
    }
}

.code {
    font-family: "Press Start 2P", cursive;
    font-size: 0.5rem;
    line-height: 2;
    opacity: 0.5;
    &--tab {
        &--1 {
            margin-left: 1rem;
        }

        &--2 {
            margin-left: 2rem;
        }
    }
}
