.main {
    margin-top: 60px;

    @media (min-width: 960px) {
        margin-top: 0;
        margin-left: 60px;
    }
    @media (min-width: 1300px) {
        .grid {
            display: grid;
            grid-template-columns: 960px 1fr;
        }
    }
}
