.skills {
    color: var(--text-color);
    padding: 1rem;
    width: 100%;
    // background: linear-gradient(to bottom, transparent 50%, white 50%);

    &__header {
        font-size: 3rem;
        margin: 3rem;
        text-transform: uppercase;
        // width: 70%;
        text-align: center;
        letter-spacing: 1rem;
        color: rgb(0, 107, 194);
    }

    &__content {
        background: rgb(0, 107, 194);
        border-radius: 1rem;
        @media (min-width: 540px) {
            display: flex;
            flex-direction: row;
        }
    }

    &__category {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem;

        &:nth-child(2) {
            border-top: 3px solid black;
            border-bottom: 3px solid black;

            @media (min-width: 540px) {
                border-top: none;
                border-bottom: none;
                border-left: 3px solid black;
                border-right: 3px solid black;
            }
        }

        &--header {
            margin: 1rem 0;
            color: var(--color-secondary);
            letter-spacing: 0.5rem;
            text-shadow: 0.1rem 0.1rem 0.5rem black;
        }

        &--subheader {
            margin: 1rem 0;
            color: var(--color-secondary);
            letter-spacing: 0.3rem;
            text-shadow: 0.1rem 0.1rem 0.5rem black;
        }

        &--icon {
            font-size: 2rem;
            margin: 1rem;
            color: var(--color-secondary);
        }

        &--paragraph {
            margin: 1rem 0;
        }

        &--list {
            list-style: none;

            li:not(:last-child) {
                margin: 1rem 0;
            }
        }
    }
}
