.skills {
    padding: 0 1rem;
    width: 100%;

    overflow: hidden;

    @media (min-width: 850px) {
        padding: 4rem;
    }
    &__header {
        @include shine(var(--color-blue));
        margin: 2rem 0;
        font-size: 4rem;
        letter-spacing: 1rem;
        text-transform: uppercase;
        text-align: center;
    }

    &__category {
        text-align: center;
        margin: 1rem;

        @media (min-width: 850px) {
            &-general {
                img {
                    width: 65%;
                }
                p {
                    width: 70%;
                    margin: 0 auto;
                    text-align: justify;
                }
            }
            &--web,
            &--android {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, auto);
                gap: 2rem;
                align-items: center;
            }
            &--web {
                padding: 1rem;

                h2 {
                    grid-column: 2 / -1;
                    grid-row: 1 / span 1;
                }
                p {
                    grid-column: 2 / -1;
                    grid-row: 2 / span 1;
                }
                img {
                    grid-column: 1 / span 1;
                    grid-row: 1 / -1;
                }
            }
            &--android {
                padding: 1rem;

                h2 {
                    grid-column: 1 / span 1;
                    grid-row: 1 / span 1;
                }
                p {
                    grid-column: 1 / span 1;
                    grid-row: 2 / span 1;
                }
                img {
                    grid-column: 2 / -1;
                    grid-row: 1 / -1;
                }
            }
        }

        &--header {
            font-size: 1.5rem;
            letter-spacing: 5px;
            text-transform: uppercase;
            color: var(--color-blue);
        }
        &--image {
            width: 100%;
            margin: 1rem 0;
        }

        &--paragraph {
            font-size: 1.2rem;
            margin: 1rem 0;
            align-self: start;
            letter-spacing: 0.1rem;
        }
    }
}
