.work {
    display: flex;
    flex-direction: column;

    &__header {
        @include shine(var(--color-blue));
        font-size: 2.5rem;
        margin: 4rem 0;
        letter-spacing: 1rem;

        text-transform: uppercase;
        text-align: center;

        @media (min-width: 850px) {
            font-size: 4rem;
        }
    }

    &__content {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 850px) {
            flex-direction: row;
        }

        .card__picture--croonus {
            background-color: #42b732;
        }
    }

    .load_more {
        color: var(--text-color-light);
        text-transform: uppercase;
        margin: 1rem 0 5rem;
        cursor: pointer;

        &:hover {
            border-bottom: 2px solid var(--color-yellow);
        }
    }
}
