.work {
    display: flex;
    flex-direction: column;

    &__header {
        @include shine(var(--color-blue));
        font-size: 2.5rem;
        margin: 4rem 0;
        letter-spacing: 1rem;

        text-transform: uppercase;
        text-align: center;

        @media (min-width: 850px) {
            font-size: 4rem;
        }
    }

    .filter {
        margin: 2rem 2rem 0;
        align-self: start;
        color: var(--text-color-light);
        &__list {
            list-style: none;
            margin: 0;
            padding: 0;
            display: grid;
            grid-auto-flow: column;
            gap: 1.5rem;

            .active {
                color: var(--color-yellow);
                border-bottom: 2px solid var(--color-yellow);
            }

            & > *:not(.active) {
                opacity: 0.5;
            }

            li {
                cursor: pointer;
            }

            li:hover {
                color: var(--color-yellow);
                opacity: 1;
            }
        }
    }

    &__content {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (min-width: 850px) {
            flex-direction: row;
        }

        .card__picture--croonus {
            background-color: #42b732;
        }
    }

    .load_more {
        color: var(--text-color-light);
        text-transform: uppercase;
        margin: 1rem 0 5rem;
        cursor: pointer;

        &:hover {
            border-bottom: 2px solid var(--color-yellow);
        }
    }
}
