.work {
    padding: 3rem;
    width: 100%;
    // color: white;
    display: flex;
    flex-direction: column;

    &__content {
        margin-top: 2rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (min-width: 850px) {
            flex-direction: row;
        }
    }
}
