@keyframes typing {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    55%,
    65%,
    75% {
        opacity: 1;
    }
    60%,
    70% {
        opacity: 0;
    }
    80% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

@keyframes blink {
    25%,
    75% {
        color: transparent;
    }
    40%,
    60% {
        color: var(--color-yellow);
    }
}

@keyframes jittery {
    5%,
    50% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    15% {
        transform: scale(1.05);
    }
    20% {
        transform: scale(1.05) rotate(-5deg);
    }
    25% {
        transform: scale(1.05) rotate(5deg);
    }
    30% {
        transform: scale(1.05) rotate(-3deg);
    }
    35% {
        transform: scale(1.05) rotate(2deg);
    }
    40% {
        transform: scale(1.05) rotate(0);
    }
}

@keyframes shine {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}

@keyframes slide-left {
    from {
        opacity: 0;
        transform: translateX(-5rem);
    }
    to {
        opacity: 0.5;
        transform: translateX(0);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}
