:root {
    --text-color-light: #ececec;
    --text-color-dark: #222831;

    --bg-color-dark: black;
    --bg-color-card: white;
    --bg-color-form: #1d1d1d;

    --bg-color-navigation: linear-gradient(to right, #14161a, #171a1f);

    --color-yellow: #f0a500;
    --color-blue: #64d3ca;
}
