.typing-button {
    padding: 0.8rem 2rem;

    color: var(--color-yellow);
    border: 3px solid var(--color-yellow);
    border-radius: 50px;
    outline: none;
    width: 10rem;

    transition: 0.2s ease-in-out;

    p {
        color: var(--color-yellow);
        text-transform: uppercase;

        animation: typing 4s steps(12) infinite;
        overflow: hidden;
        white-space: nowrap;
        line-height: normal;
    }
    &:hover p {
        animation: blink 0.3s infinite;
    }
}

.git__button {
    &:link,
    &:visited {
        position: relative;
        font-size: 1rem;
        padding: 1rem 2rem;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 1rem;
        transition: all 0.5s;
        box-shadow: 0 1rem 0.75rem rgba(black, $alpha: 0.5);
        color: var(--text-color-dark);
        background-color: var(--color-yellow);
        backface-visibility: hidden;
    }

    &::after {
        content: "";
        height: 100%;
        width: 100%;
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--color-yellow);
        border-radius: 1rem;

        opacity: 1;
        transition: all 0.5s;
    }

    &:hover {
        transform: translateY(-10px) scale(1.1);
        box-shadow: 0 1rem 2rem rgba(black, $alpha: 0.5);
        &::after {
            transform: scale(1.3);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-5px) scale(1.05);
        box-shadow: 0 1rem 1.5rem rgba(black, $alpha: 0.5);
    }
}

.send__button {
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.5rem 2rem;
    background-color: transparent;
    color: var(--color-blue);
    border: 2px solid var(--color-blue);

    appearance: none;
    cursor: pointer;

    border-radius: 5px;

    &:hover,
    &:active {
        background-color: var(--color-blue);
        color: var(--text-color-dark);
    }
}
