.card {
    position: relative;
    border-radius: 50px;
    overflow: hidden;

    &__image {
        padding: 1rem;
    }

    &__text {
        background-color: greenyellow;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        padding: 1rem;
        text-align: center;
        transform: translateY(5rem);
        transition: all 0.3s ease-out;
    }

    &:hover &__text {
        transform: translateY(0);
    }
}
