.filter {
    margin: 2rem 2rem 0;
    align-self: start;
    color: var(--text-color-light);
    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-auto-flow: column;
        gap: 1.5rem;

        .active {
            color: var(--color-yellow);
            border-bottom: 2px solid var(--color-yellow);
        }

        & > *:not(.active) {
            opacity: 0.5;
        }

        li {
            cursor: pointer;
            transition: all 0.3s ease;
        }

        li:hover:nth-child(even) {
            color: var(--color-yellow);
            opacity: 1;
            transform: rotate(15deg);
        }
        li:hover:nth-child(odd) {
            color: var(--color-yellow);
            opacity: 1;
            transform: rotate(-15deg);
        }
    }
}
