.navigation {
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease;

    color: var(--text-color);
    background-color: var(--color-primary);

    @media (min-width: 960px) {
        flex-direction: column;
    }
}

.logo {
    display: inline-block;
    transition: all 0.5s ease-out;

    img {
        display: block;
        margin: 10px;
        width: 40px;
        height: 40px;
    }

    &:hover {
        background: var(--color-secondary);
    }
}

.mobile__nav {
    &--checkbox {
        display: none;
        &:checked ~ .nav {
            transform: translateY(0);
            opacity: 1;
            z-index: 1;
        }
    }
    &--button {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
        transition: all 0.5s ease-out;

        @media (min-width: 540px) {
            display: none;
        }
    }

    &--icon {
        position: relative;
        &,
        &::before,
        &::after {
            width: 35px;
            height: 2px;
            background-color: var(--text-color);
            display: inline-block;
            transition: transform 0.3s ease;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
        }

        &::before {
            top: -8px;
        }
        &::after {
            top: 8px;
        }
    }

    // ANIMATION
    &--button:hover {
        background-color: var(--color-secondary);
    }
    &--button:hover &--icon::before {
        top: -10px;
    }
    &--button:hover &--icon::after {
        top: 10px;
    }

    &--checkbox:checked + &--button &--icon {
        background-color: transparent;
    }
    &--checkbox:checked + &--button &--icon::before {
        top: 0;
        transform: rotate(135deg);
    }
    &--checkbox:checked + &--button &--icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}
.nav {
    width: 100%;
    height: 60px;
    background-color: var(--color-primary);

    position: fixed;
    top: 60px;
    left: 0;

    transform: translateY(-120px);
    opacity: 0;
    z-index: -1;

    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: transform 0.2s cubic-bezier(0, 1.5, 0, 1.2);

    @media (min-width: 540px) {
        position: static;
        justify-content: space-between;
        width: 210px;
        height: 60px;
        z-index: 1;
        opacity: 1;
        transform: translateY(0);
    }

    @media (min-width: 960px) {
        position: static;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 210px;
    }

    &__link {
        i {
            font-size: 22px;
        }

        &--text {
            display: none;
        }
    }
}

.social-link {
    color: inherit;
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;

    transition: width 0.2s ease;

    @media (min-width: 540px) {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100px;
        height: 100%;
    }

    @media (min-width: 960px) {
        flex-direction: column;
        width: 100%;
        height: 100px;
    }
}
